@import 'src/assets/styles/main';

:host {
  height: 100%;
  display: block;
  width: 100%;

  .app-container {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    display: block;
    width: 100%;
  }
  .main-module-container {
    margin-top: 30px;
  }
  .main-module-row {
    padding: 20px;
  }

  .small-window {
    position: fixed;
    right: 0;
    top: calc(100% - 300px);
    width: 300px;
    height: 300px;
    border: none;
    background-color: black; 
    padding: 20px 10px 0 10px;
  }
  .small-window.minimized,
   {
    height: 10px;
    overflow: hidden;
    top: calc(100% - 20px);
  }
  .smal-window-header {
    background-color: #dfdfdf;
    display: block;
    height: 30px;
  }
  .small-window-conent {
    background-color: white;
    display: block;
    height: calc(100% - 30px);
  }
  .fa {
    color: white;
    cursor: pointer;
  }
  .fa-window-minimize,
  .fa-window-maximize {
    position: absolute;
    top: 0;
    right: 30px;
  }
  .fa-window-close {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
