$background-color: #F2F2F2;
$main-color: #807D7D;
$main-color-soft: #dfdfdf;
$main-button-color: #005C5D;
$main-button-color-highlight: #005C5D;
$secondary-button-color: #00CEAB;
$navbar-color: white; //#f8f8f8;
$navbar-selected-color: #00CEAB;
$font-highlight-color: #555555;
$font-text-color: #848484;
$font-light-color: #CDCDCD;
$line-font-color: #565451;
$input-color: #dfdfdf;
$spinner-color: black;
