@import 'src/assets/styles/main';


.form-row {
  margin: 20px 0;
}
.group {
    vertical-align: top;
    width: 100%;
    padding: 3% 8%;
    text-align: center;
    margin: 0 !important;
}
.group-title {
  margin: 0 !important;
}
label {
    font-weight: 600;
}
.label-container {
  text-align: center;
  margin-top: 20px;
}

.input-control {
    width: 100%;
    color: #7F7F7F;
    font-weight: normal;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 3px 10px;
}

.form-group {
    margin: 10px 0;
}

.container {
    display: block;
    height: 80%;
    vertical-align: inherit;
    margin: 20px auto;
}

.help-block {
    font-size: 0.7em;
    text-align: left;
    margin-left: -5px;
    margin-top: 15px;
    color: #005C5D;
    text-align: center;
    text-decoration: underline;
}

.form-check-label {
    font-weight: 400;
    text-align: left;
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
    color: white;
}

.btn--primary {
  width: 80%;
  font-size: 1.2em;
  font-weight: 200;
}

.action-label, .action-title {
  color: white;
  font-size: 1.1em;
  font-weight: 100;
}
.bubble {
  background-color: transparent;
  border: 3px solid white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
}
.glyphicon-caret{
  color: white;
  font-size: 1.3em;
  font-weight: 200;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  position: relative;
}
@media (min-width: 576px) {
  .action-col {
    margin-top: -70px;
  }
}
.action-col, .row-fluid.container-fluid, .action-container {
  padding-right: 0 !important;
}

@media (min-width: 750px) {
  .big-container {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 576px) {
  form {
    max-width: inherit;
  }

  .action-col {
    display: none;
  }
}
